In [3]:
# Importing required package/Library

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# Loading the dataset

In [7]:
df = pd.read_csv('Student Python Final Marks.csv')
df.head()

,No,Students'IDs,Names,Assign 1/10 (Pandas),Assign2/10,In-Class Practical / 10,MidTerm Exam /30,Final Exam/40
0,1,240001,Student1,9.0,9.0,6.0,19.0,32.0
1,2,240002,Student2,9.0,9.0,5.0,15.0,22.0
2,3,240003,Student3,9.0,9.0,5.0,10.0,27.0
3,4,240004,Student4,9.0,9.0,6.0,16.0,30.0
4,5,240005,Student5,9.0,8.0,5.0,20.0,25.0

In [8]:
# Copying the original dataframe in df1

In [9]:
df1 = df.copy()

In [10]:
# Understanding the data

In [11]:
# First few rows of the DataFrame
df1.head()

,No,Students'IDs,Names,Assign 1/10 (Pandas),Assign2/10,In-Class Practical / 10,MidTerm Exam /30,Final Exam/40
0,1,240001,Student1,9.0,9.0,6.0,19.0,32.0
1,2,240002,Student2,9.0,9.0,5.0,15.0,22.0
2,3,240003,Student3,9.0,9.0,5.0,10.0,27.0
3,4,240004,Student4,9.0,9.0,6.0,16.0,30.0
4,5,240005,Student5,9.0,8.0,5.0,20.0,25.0

In [12]:
## Information about the DataFrame

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   No                          35 non-null     int64
 1   Students'IDs                35 non-null     int64
 2   Names                       35 non-null     object
 3   Assign 1/10       (Pandas)  33 non-null     float64
 4   Assign2/10                  33 non-null     float64
 5   In-Class Practical / 10     34 non-null     float64
 6   MidTerm Exam /30            34 non-null     float64
 7   Final Exam/40               33 non-null     float64
dtypes: float64(5), int64(2), object(1)
memory usage: 2.3+ KB

In [14]:
df1.columns

Index(['No', 'Students'IDs', 'Names', 'Assign 1/10       (Pandas)',
       'Assign2/10', 'In-Class Practical / 10', 'MidTerm Exam /30',
       'Final Exam/40'],
      dtype='object')

In [15]:
## Check for missing values

In [16]:
print(df1.isnull().sum())

No                            0
Students'IDs                  0
Names                         0
Assign 1/10       (Pandas)    2
Assign2/10                    2
In-Class Practical / 10       1
MidTerm Exam /30              1
Final Exam/40                 2
dtype: int64

In [17]:
## Unique values in each column

In [19]:
print("Unique vlaues in each column: \n")

df1.unique()

Unique vlaues in each column:

AttributeError: 'DataFrame' object has no attribute 'unique'

In [20]:
df1['Names'].unique()

array(['Student1', 'Student2', 'Student3', 'Student4', 'Student5',
       'Student6', 'Student7', 'Student8', 'Student9', 'Student10',
       'Student11', 'Student12', 'Student13', 'Student14', 'Student15',
       'Student16', 'Student17', 'Student18', 'Student19', 'Student20',
       'Student21', 'Student22', 'Student23', 'Student24', 'Student25',
       'Student26', 'Student27', 'Student28', 'Student29', 'Student30',
       'Student31', 'Student32', 'Student33', 'Student34', 'Student35'],
      dtype=object)

In [22]:
print(df1['Names'].count())

35

In [28]:
print("Unique values in each column: \n")

for column in df1.columns:
    print(f"{column}: {df1[column].unique()}")

Unique values in each column:

No: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35]
Students'IDs: [240001 240002 240003 240004 240005 240006 240007 240008 240009 240010
 240011 240012 240013 240014 240015 240016 240017 240018 240019 240020
 240021 240022 240023 240024 240025 240026 240027 240028 240029 240030
 240031 240032 240033 240034 240035]
Names: ['Student1' 'Student2' 'Student3' 'Student4' 'Student5' 'Student6'
 'Student7' 'Student8' 'Student9' 'Student10' 'Student11' 'Student12'
 'Student13' 'Student14' 'Student15' 'Student16' 'Student17' 'Student18'
 'Student19' 'Student20' 'Student21' 'Student22' 'Student23' 'Student24'
 'Student25' 'Student26' 'Student27' 'Student28' 'Student29' 'Student30'
 'Student31' 'Student32' 'Student33' 'Student34' 'Student35']
Assign 1/10       (Pandas): [ 9. nan  7.  8.]
Assign2/10: [ 9.  8. nan  7.]
In-Class Practical / 10: [ 6.  5. 10. nan]
MidTerm Exam /30: [19. 15. 10. 16. 20. 18. 22. 21. 17. 14. nan  5.]
Final Exam/40: [32. 22. 27. 30. 25. 29. 31. 26. 33. 36. 28. 34. 24. nan]

In [29]:
## Descriptive Stats.

In [30]:
df1.describe()

,No,Students'IDs,Assign 1/10 (Pandas),Assign2/10,In-Class Practical / 10,MidTerm Exam /30,Final Exam/40
count,35.000000,35.000000,33.000000,33.0,34.000000,34.000000,33.000000
mean,18.000000,240018.000000,8.454545,8.0,5.558824,17.735294,29.424242
std,10.246951,10.246951,0.711113,0.5,1.210839,3.314878,3.363688
min,1.000000,240001.000000,7.000000,7.0,5.000000,5.000000,22.000000
25%,9.500000,240009.500000,8.000000,8.0,5.000000,16.250000,27.000000
50%,18.000000,240018.000000,9.000000,8.0,5.000000,19.000000,30.000000
75%,26.500000,240026.500000,9.000000,8.0,6.000000,19.000000,32.000000
max,35.000000,240035.000000,9.000000,9.0,10.000000,22.000000,36.000000